<h1>My Movies</h1>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
      <small><a href="/movies/<%= movie.id %>/edit">edit</a></small>
    </li>
  <% end %>
</ul>
<a href="/movies/new">Add a New Movie</a>
